(
dog,
at,
ampersand,
ampersand.ss01,
paragraph,
section,
apple,
hand,
magic,
periodcentered,
periodcentered.ss01,
bullet,
asterisk,
dagger,
daggerdbl,
space,
A,
A.ss01,
A.ss02,
AE,
B,
C,
C.ss01,
D,
D.ss01,
E,
E.ss01,
F,
F.ss01,
G,
G.ss01,
G.ss02,
H,
H.ss01,
H.ss02,
I,
J,
K,
K.ss01,
L,
L.ss01,
M,
M.ss01,
N,
N.ss01,
O,
OE,
OE.ss01,
P,
P.ss01,
Q,
Q.ss01,
R,
R.ss01,
S,
S.ss01,
Germandbls,
T,
T.ss01,
U,
U.ss01,
V,
W,
W.ss01,
X,
Y,
Y.ss01,
Z,
A_V.dlig,
E_N.liga,
E_T.liga,
N_N.liga,
R_P.liga,
R_Y.liga,
T_T.liga,
K_h.liga,
K_y.liga,
nbspace,
a,
a.ss01,
ae,
b,
c,
d,
e,
e.ss01,
f,
f.ss01,
f.ss02,
g,
g.ss01,
g.ss02,
g.ss03,
h,
i,
i.ss01,
j,
j.ss01,
k,
k.ss01,
l,
m,
m.ss01,
n,
o,
oe,
p,
q,
q.ss01,
r,
r.ss01,
s,
germandbls,
t,
t.ss01,
u,
u.ss01,
v,
w,
w.ss01,
x,
y,
y.ss01,
y.ss02,
z,
f_b.liga,
f_f.liga,
f_f_i.liga,
f_h.liga,
f_i.liga,
f_i.liga.ss01,
f_k.liga,
f_l.liga,
f_t.liga,
r_a.liga,
emquad,
zero,
one,
two,
three,
three.ss01,
four,
five,
six,
seven,
eight,
nine,
fraction,
onehalf,
onequarter,
threequarters,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
enquad,
copyright,
registered,
trademark,
florin,
micro,
cent,
dollar,
euro,
yen,
sterling,
sterling.ss01,
multiply.ss01,
multiply,
plus,
plus.ss01,
bar,
brokenbar,
currency,
minus,
divide,
equal,
notequal,
period,
period.ss01,
comma,
comma.ss01,
colon,
colon.ss01,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
question.ss01,
questiondown.ss01,
numbersign,
increment,
lozenge,
slash,
backslash,
percent,
perthousand,
hyphen,
endash,
emdash,
hyphentwo,
nonbreakinghyphen,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteleft.ss01,
quoteright,
quoteright.ss01,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
logicalnot,
asciicircum,
degree,
ordfeminine,
ordmasculine,
emspace,
.notdef,
_corner.leftSerif,
_corner.rightSerif,
_corner.topSerif,
_corner.leftSerif.cap,
_corner.rightSerif.cap,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
Eth,
Dcaron,
Dcroat,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Etilde,
Gbreve,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
Hbar,
Hcircumflex,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
Jacute,
Jcircumflex,
Kcommaaccent,
Lacute,
Lcaron,
Lcommaaccent,
Lcommaaccent.loclMAH,
Lslash,
Nacute,
Ncaron,
Ncommaaccent,
Ncommaaccent.loclMAH,
Ntilde,
Eng,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
Thorn,
Racute,
Rcaron,
Rcommaaccent,
Sacute,
Saltillo,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Zacute,
Zcaron,
Zdotaccent,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
eth,
dcaron,
dcroat,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
etilde,
gbreve,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
hbar,
hcircumflex,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
itilde,
jdotless,
jacute,
jcircumflex,
kcommaaccent,
lacute,
lcaron,
lcommaaccent,
lcommaaccent.loclMAH,
lslash,
nacute,
ncaron,
ncommaaccent,
ncommaaccent.loclMAH,
ntilde,
eng,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
thorn,
racute,
rcaron,
rcommaaccent,
sacute,
saltillo,
scaron,
scedilla,
scircumflex,
scommaaccent,
tbar,
tcaron,
tcedilla,
tcommaaccent,
uacute,
ubreve,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
wacute,
wcircumflex,
wdieresis,
wgrave,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
zacute,
zcaron,
zdotaccent,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"De-cy",
"De-cy.ss01",
"Ie-cy",
"Io-cy",
"Zhe-cy",
"Zhe-cy.ss01",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"El-cy.ss01",
"El-cy.ss02",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"U-cy.ss01",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Che-cy",
"Tse-cy",
"Tse-cy.ss01",
"Sha-cy",
"Shcha-cy",
"Shcha-cy.ss01",
"Dzhe-cy",
"Softsign-cy",
"Softsign-cy.ss01",
"Yeru-cy",
"Yeru-cy.ss01",
"Hardsign-cy",
"Hardsign-cy.ss02",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"a-cy",
"be-cy",
"be-cy.loclSRB",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"de-cy",
"ie-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"che-cy",
"tse-cy",
"tse-cy.ss01",
"sha-cy",
"shcha-cy",
"shcha-cy.ss01",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
enspace,
quotesingle.ss01,
rose,
europeanCastle,
dragon,
dragonFace,
daggerKnife,
wiltedFlower,
crossedSwords,
"brevecomb-cy",
commaaccentcomb.loclMAH,
dieresiscomb,
dieresiscomb.case,
dotaccentcomb,
dotaccentcomb.case,
gravecomb,
gravecomb.case,
acutecomb,
acutecomb.case,
hungarumlautcomb,
hungarumlautcomb.case,
caroncomb.alt,
circumflexcomb,
circumflexcomb.case,
caroncomb,
brevecomb,
brevecomb.case,
ringcomb,
ringcomb.case,
tildecomb,
tildecomb.case,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
cedillacomb.case,
ogonekcomb,
dieresis,
grave,
acute,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
dieresis.case,
grave.case,
acute.case,
circumflex.case,
caron.case,
breve.case,
ring.case,
tilde.case,
macron.case,
cedilla.case,
apostrophemod,
_corner.topSerifAsc
)