<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.3</key>
    <array>
      <string>three</string>
      <string>five</string>
      <string>eight</string>
    </array>
    <key>public.kern1.6</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern1.7</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>A.ss02</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>A-cy</string>
      <string>De-cy.ss01</string>
      <string>El-cy.ss02</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
      <string>Be-cy</string>
      <string>Ve-cy</string>
      <string>Ze-cy</string>
      <string>Softsign-cy.ss01</string>
      <string>Hardsign-cy</string>
      <string>Hardsign-cy.ss02</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>C.ss01</string>
      <string>E.ss01</string>
      <string>G.ss01</string>
      <string>OE.ss01</string>
      <string>T.ss01</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Es-cy</string>
    </array>
    <key>public.kern1.De</key>
    <array>
      <string>De-cy</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>OE</string>
      <string>sterling</string>
      <string>sterling.ss01</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Ie-cy</string>
      <string>E-cy</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
      <string>F.ss01</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>G</string>
      <string>G.ss02</string>
      <string>H</string>
      <string>H.ss01</string>
      <string>I</string>
      <string>Hbar</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>El-cy</string>
      <string>El-cy.ss01</string>
      <string>En-cy</string>
      <string>Pe-cy</string>
      <string>Che-cy</string>
      <string>Tse-cy.ss01</string>
      <string>Sha-cy</string>
      <string>Shcha-cy.ss01</string>
      <string>Yeru-cy</string>
      <string>Yeru-cy.ss01</string>
      <string>I-cy</string>
      <string>Yi-cy</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>ampersand.ss01</string>
      <string>K</string>
      <string>K.ss01</string>
      <string>R.ss01</string>
      <string>Kcommaaccent</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Zhe-cy</string>
      <string>Zhe-cy.ss01</string>
      <string>Ka-cy</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>L.ss01</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>M</string>
      <string>Em-cy</string>
    </array>
    <key>public.kern1.N</key>
    <array>
      <string>N</string>
      <string>N.ss01</string>
      <string>U.ss01</string>
      <string>W.ss01</string>
      <string>Y.ss01</string>
      <string>N_N.liga</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>U-cy.ss01</string>
    </array>
    <key>public.kern1.Naz</key>
    <array>
      <string>Iishort-cy</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>at</string>
      <string>ampersand</string>
      <string>D</string>
      <string>D.ss01</string>
      <string>H.ss02</string>
      <string>M.ss01</string>
      <string>O</string>
      <string>P.ss01</string>
      <string>Q.ss01</string>
      <string>zero</string>
      <string>three.ss01</string>
      <string>nine</string>
      <string>copyright</string>
      <string>registered</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Thorn</string>
      <string>O-cy</string>
      <string>Ef-cy</string>
      <string>Ereversed-cy</string>
      <string>Yu-cy</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>Er-cy</string>
    </array>
    <key>public.kern1.Q</key>
    <array>
      <string>Q</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>S.ss01</string>
      <string>dollar</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Ge-cy</string>
      <string>Gje-cy</string>
      <string>Geupturn-cy</string>
      <string>Te-cy</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern1.U-cy</key>
    <array>
      <string>U-cy</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>W</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
      <string>Ha-cy</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Ushort-cy</string>
    </array>
    <key>public.kern1.Ya</key>
    <array>
      <string>Ya-cy</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>r_a.liga</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>a-cy</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>Softsign-cy</string>
      <string>softsign-cy</string>
      <string>hardsign-cy</string>
      <string>nje-cy</string>
    </array>
    <key>public.kern1.bullet</key>
    <array>
      <string>periodcentered</string>
      <string>periodcentered.ss01</string>
      <string>bullet</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>es-cy</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>colon.ss01</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>a.ss01</string>
      <string>d</string>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcroat</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>e.ss01</string>
      <string>oe</string>
      <string>t.ss01</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>kcommaaccent</string>
      <string>ie-cy</string>
      <string>io-cy</string>
      <string>e-cy</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f.ss01</string>
      <string>f_f.liga</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>g.ss02</string>
      <string>g.ss03</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>public.kern1.guillemetleft</key>
    <array>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guillemetright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>Dje-cy</string>
    </array>
    <key>public.kern1.hor</key>
    <array>
      <string>ge-cy</string>
      <string>geupturn-cy</string>
      <string>te-cy</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>nonbreakinghyphen</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>i.ss01</string>
      <string>w</string>
      <string>f_f_i.liga</string>
      <string>f_i.liga</string>
      <string>f_i.liga.ss01</string>
      <string>idotless</string>
      <string>el-cy</string>
      <string>em-cy</string>
      <string>en-cy</string>
      <string>pe-cy</string>
      <string>che-cy</string>
      <string>tse-cy.ss01</string>
      <string>sha-cy</string>
      <string>shcha-cy.ss01</string>
      <string>dzhe-cy</string>
      <string>yeru-cy</string>
      <string>i-cy</string>
      <string>yi-cy</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>j</string>
      <string>j.ss01</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>u</string>
      <string>u.ss01</string>
      <string>w.ss01</string>
      <string>f_l.liga</string>
      <string>one</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>lslash</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>Ii-cy</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>hbar</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>eng</string>
      <string>Tshe-cy</string>
      <string>ya-cy</string>
      <string>dje-cy</string>
    </array>
    <key>public.kern1.naz</key>
    <array>
      <string>ii-cy</string>
      <string>iishort-cy</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>b</string>
      <string>k.ss01</string>
      <string>m.ss01</string>
      <string>o</string>
      <string>p</string>
      <string>q.ss01</string>
      <string>germandbls</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>thorn</string>
      <string>Lje-cy</string>
      <string>be-cy</string>
      <string>be-cy.loclSRB</string>
      <string>o-cy</string>
      <string>er-cy</string>
      <string>ef-cy</string>
      <string>ereversed-cy</string>
      <string>yu-cy</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>period.ss01</string>
      <string>comma</string>
      <string>comma.ss01</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>g.ss01</string>
      <string>q</string>
    </array>
    <key>public.kern1.quotedblleft</key>
    <array>
      <string>asterisk</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteleft.ss01</string>
      <string>quoteright</string>
      <string>quoteright.ss01</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>quotesingle.ss01</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>f.ss02</string>
      <string>r</string>
      <string>r.ss01</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>section</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern1.tri</key>
    <array>
      <string>Tse-cy</string>
      <string>Shcha-cy</string>
      <string>de-cy</string>
      <string>tse-cy</string>
      <string>shcha-cy</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>y.ss01</string>
      <string>y.ss02</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
      <string>zhe-cy</string>
      <string>ka-cy</string>
      <string>ha-cy</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>u-cy</string>
      <string>ushort-cy</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern2.3</key>
    <array>
      <string>Ze-cy</string>
    </array>
    <key>public.kern2.6</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>A.ss02</string>
      <string>AE</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>A-cy</string>
      <string>De-cy.ss01</string>
      <string>El-cy.ss02</string>
    </array>
    <key>public.kern2.D</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>F.ss01</string>
      <string>H</string>
      <string>H.ss01</string>
      <string>H.ss02</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>K.ss01</string>
      <string>L</string>
      <string>L.ss01</string>
      <string>N.ss01</string>
      <string>P</string>
      <string>P.ss01</string>
      <string>R</string>
      <string>R.ss01</string>
      <string>Dcaron</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Kcommaaccent</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>Thorn</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Be-cy</string>
      <string>Ve-cy</string>
      <string>Ge-cy</string>
      <string>Gje-cy</string>
      <string>Geupturn-cy</string>
      <string>Ie-cy</string>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Ka-cy</string>
      <string>En-cy</string>
      <string>Pe-cy</string>
      <string>Er-cy</string>
      <string>Tse-cy</string>
      <string>Tse-cy.ss01</string>
      <string>Sha-cy</string>
      <string>Shcha-cy</string>
      <string>Shcha-cy.ss01</string>
      <string>Softsign-cy</string>
      <string>Softsign-cy.ss01</string>
      <string>Yeru-cy</string>
      <string>Yeru-cy.ss01</string>
      <string>I-cy</string>
      <string>Yi-cy</string>
      <string>Yu-cy</string>
    </array>
    <key>public.kern2.De</key>
    <array>
      <string>De-cy</string>
    </array>
    <key>public.kern2.E</key>
    <array>
      <string>Ereversed-cy</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>Hbar</string>
    </array>
    <key>public.kern2.K</key>
    <array>
      <string>Zhe-cy</string>
      <string>Zhe-cy.ss01</string>
    </array>
    <key>public.kern2.L</key>
    <array>
      <string>sterling</string>
      <string>sterling.ss01</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>M</string>
      <string>Em-cy</string>
    </array>
    <key>public.kern2.N</key>
    <array>
      <string>N</string>
      <string>N_N.liga</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>at</string>
      <string>ampersand</string>
      <string>C</string>
      <string>C.ss01</string>
      <string>D.ss01</string>
      <string>E.ss01</string>
      <string>G</string>
      <string>G.ss01</string>
      <string>G.ss02</string>
      <string>M.ss01</string>
      <string>O</string>
      <string>OE</string>
      <string>OE.ss01</string>
      <string>Q</string>
      <string>Q.ss01</string>
      <string>T.ss01</string>
      <string>U.ss01</string>
      <string>W.ss01</string>
      <string>Y.ss01</string>
      <string>zero</string>
      <string>eight</string>
      <string>copyright</string>
      <string>registered</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>O-cy</string>
      <string>Es-cy</string>
      <string>U-cy.ss01</string>
      <string>Ef-cy</string>
      <string>E-cy</string>
      <string>be-cy</string>
      <string>be-cy.loclSRB</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>S.ss01</string>
      <string>dollar</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>seven</string>
      <string>Te-cy</string>
      <string>Hardsign-cy</string>
      <string>Hardsign-cy.ss02</string>
      <string>Tshe-cy</string>
      <string>Dje-cy</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern2.U-cy</key>
    <array>
      <string>U-cy</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>W</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
      <string>Ha-cy</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Ushort-cy</string>
    </array>
    <key>public.kern2.Ya</key>
    <array>
      <string>Ya-cy</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>a.ss01</string>
      <string>ae</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>a-cy</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
    </array>
    <key>public.kern2.bullet</key>
    <array>
      <string>periodcentered</string>
      <string>periodcentered.ss01</string>
      <string>bullet</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>colon.ss01</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.de-cy</key>
    <array>
      <string>de-cy</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f.ss01</string>
      <string>f.ss02</string>
      <string>germandbls</string>
      <string>f_f.liga</string>
      <string>f_f_i.liga</string>
      <string>f_i.liga</string>
      <string>f_i.liga.ss01</string>
      <string>f_l.liga</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
      <string>g.ss02</string>
      <string>g.ss03</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>public.kern2.guillemetleft</key>
    <array>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guillemetright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>nonbreakinghyphen</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>i.ss01</string>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>r.ss01</string>
      <string>r_a.liga</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>eng</string>
      <string>thorn</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>ve-cy</string>
      <string>ge-cy</string>
      <string>geupturn-cy</string>
      <string>ii-cy</string>
      <string>iishort-cy</string>
      <string>ka-cy</string>
      <string>em-cy</string>
      <string>en-cy</string>
      <string>pe-cy</string>
      <string>tse-cy</string>
      <string>tse-cy.ss01</string>
      <string>sha-cy</string>
      <string>shcha-cy</string>
      <string>shcha-cy.ss01</string>
      <string>dzhe-cy</string>
      <string>softsign-cy</string>
      <string>yeru-cy</string>
      <string>nje-cy</string>
      <string>i-cy</string>
      <string>yi-cy</string>
      <string>yu-cy</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
      <string>j.ss01</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>h</string>
      <string>k</string>
      <string>k.ss01</string>
      <string>l</string>
      <string>one</string>
      <string>hbar</string>
      <string>kcommaaccent</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>lslash</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>e.ss01</string>
      <string>g.ss01</string>
      <string>m.ss01</string>
      <string>o</string>
      <string>oe</string>
      <string>q</string>
      <string>q.ss01</string>
      <string>t.ss01</string>
      <string>u.ss01</string>
      <string>w.ss01</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>ie-cy</string>
      <string>io-cy</string>
      <string>o-cy</string>
      <string>es-cy</string>
      <string>ef-cy</string>
      <string>e-cy</string>
      <string>ereversed-cy</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>period.ss01</string>
      <string>comma</string>
      <string>comma.ss01</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.quotedblleft</key>
    <array>
      <string>asterisk</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteleft.ss01</string>
      <string>quoteright</string>
      <string>quoteright.ss01</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>quotesingle.ss01</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>section</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern2.tcro</key>
    <array>
      <string>te-cy</string>
      <string>hardsign-cy</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>udieresis</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>y.ss01</string>
      <string>y.ss02</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
      <string>zhe-cy</string>
      <string>ha-cy</string>
      <string>ya-cy</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>u-cy</string>
      <string>ushort-cy</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
    </array>
  </dict>
</plist>
