<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A-cy</key>
    <string>A_-cy.glif</string>
    <key>A.ss01</key>
    <string>A_.ss01.glif</string>
    <key>A.ss02</key>
    <string>A_.ss02.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>A_V.dlig</key>
    <string>A__V_.dlig.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Be-cy</key>
    <string>B_e-cy.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.ss01</key>
    <string>C_.ss01.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.ss01</key>
    <string>D_.ss01.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>De-cy.ss01</key>
    <string>D_e-cy.ss01.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Dze-cy</key>
    <string>D_ze-cy.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E-cy</key>
    <string>E_-cy.glif</string>
    <key>E.ss01</key>
    <string>E_.ss01.glif</string>
    <key>E_N.liga</key>
    <string>E__N_.liga.glif</string>
    <key>E_T.liga</key>
    <string>E__T_.liga.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Ef-cy</key>
    <string>E_f-cy.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>El-cy.ss01</key>
    <string>E_l-cy.ss01.glif</string>
    <key>El-cy.ss02</key>
    <string>E_l-cy.ss02.glif</string>
    <key>Em-cy</key>
    <string>E_m-cy.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>En-cy</key>
    <string>E_n-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Er-cy</key>
    <string>E_r-cy.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Es-cy</key>
    <string>E_s-cy.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Etilde</key>
    <string>E_tilde.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.ss01</key>
    <string>F_.ss01.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.ss01</key>
    <string>G_.ss01.glif</string>
    <key>G.ss02</key>
    <string>G_.ss02.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Geupturn-cy</key>
    <string>G_eupturn-cy.glif</string>
    <key>Gje-cy</key>
    <string>G_je-cy.glif</string>
    <key>Gmacron</key>
    <string>G_macron.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.ss01</key>
    <string>H_.ss01.glif</string>
    <key>H.ss02</key>
    <string>H_.ss02.glif</string>
    <key>Ha-cy</key>
    <string>H_a-cy.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>Hardsign-cy.ss02</key>
    <string>H_ardsign-cy.ss02.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I-cy</key>
    <string>I_-cy.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Ie-cy</key>
    <string>I_e-cy.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Iishort-cy</key>
    <string>I_ishort-cy.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Io-cy</key>
    <string>I_o-cy.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Jacute</key>
    <string>J_acute.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>Je-cy</key>
    <string>J_e-cy.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.ss01</key>
    <string>K_.ss01.glif</string>
    <key>K_h.liga</key>
    <string>K__h.liga.glif</string>
    <key>K_y.liga</key>
    <string>K__y.liga.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>Kje-cy</key>
    <string>K_je-cy.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.ss01</key>
    <string>L_.ss01.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Lcommaaccent.loclMAH</key>
    <string>L_commaaccent.loclM_A_H_.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.ss01</key>
    <string>M_.ss01.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.ss01</key>
    <string>N_.ss01.glif</string>
    <key>N_N.liga</key>
    <string>N__N_.liga.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Ncommaaccent.loclMAH</key>
    <string>N_commaaccent.loclM_A_H_.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O-cy</key>
    <string>O_-cy.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>OE.ss01</key>
    <string>O_E_.ss01.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.ss01</key>
    <string>P_.ss01.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.ss01</key>
    <string>Q_.ss01.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.ss01</key>
    <string>R_.ss01.glif</string>
    <key>R_P.liga</key>
    <string>R__P_.liga.glif</string>
    <key>R_Y.liga</key>
    <string>R__Y_.liga.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.ss01</key>
    <string>S_.ss01.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Saltillo</key>
    <string>S_altillo.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>Sha-cy</key>
    <string>S_ha-cy.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Shcha-cy.ss01</key>
    <string>S_hcha-cy.ss01.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>Softsign-cy.ss01</key>
    <string>S_oftsign-cy.ss01.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.ss01</key>
    <string>T_.ss01.glif</string>
    <key>T_T.liga</key>
    <string>T__T_.liga.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>Te-cy</key>
    <string>T_e-cy.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tse-cy.ss01</key>
    <string>T_se-cy.ss01.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>U-cy.ss01</key>
    <string>U_-cy.ss01.glif</string>
    <key>U.ss01</key>
    <string>U_.ss01.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Ushort-cy</key>
    <string>U_short-cy.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>Ve-cy</key>
    <string>V_e-cy.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.ss01</key>
    <string>W_.ss01.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.ss01</key>
    <string>Y_.ss01.glif</string>
    <key>Ya-cy</key>
    <string>Y_a-cy.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Yeru-cy.ss01</key>
    <string>Y_eru-cy.ss01.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Yi-cy</key>
    <string>Y_i-cy.glif</string>
    <key>Ytilde</key>
    <string>Y_tilde.glif</string>
    <key>Yu-cy</key>
    <string>Y_u-cy.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>Zhe-cy.ss01</key>
    <string>Z_he-cy.ss01.glif</string>
    <key>_corner.leftSerif</key>
    <string>_corner.leftS_erif.glif</string>
    <key>_corner.leftSerif.cap</key>
    <string>_corner.leftS_erif.cap.glif</string>
    <key>_corner.rightSerif</key>
    <string>_corner.rightS_erif.glif</string>
    <key>_corner.rightSerif.cap</key>
    <string>_corner.rightS_erif.cap.glif</string>
    <key>_corner.topSerif</key>
    <string>_corner.topS_erif.glif</string>
    <key>_corner.topSerifAsc</key>
    <string>_corner.topS_erifA_sc.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a-cy</key>
    <string>a-cy.glif</string>
    <key>a.ss01</key>
    <string>a.ss01.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.case</key>
    <string>acute.case.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.ss01</key>
    <string>ampersand.ss01.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>apostrophemod</key>
    <string>apostrophemod.glif</string>
    <key>apple</key>
    <string>apple.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>be-cy.loclSRB</key>
    <string>be-cy.loclS_R_B_.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>breve.case</key>
    <string>breve.case.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb-cy</key>
    <string>brevecomb-cy.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caron.case</key>
    <string>caron.case.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedilla.case</key>
    <string>cedilla.case.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflex.case</key>
    <string>circumflex.case.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colon.ss01</key>
    <string>colon.ss01.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>comma.ss01</key>
    <string>comma.ss01.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaaccentcomb.loclMAH</key>
    <string>commaaccentcomb.loclM_A_H_.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>crossedSwords</key>
    <string>crossedS_words.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerKnife</key>
    <string>daggerK_nife.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresis.case</key>
    <string>dieresis.case.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dog</key>
    <string>dog.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>dragon</key>
    <string>dragon.glif</string>
    <key>dragonFace</key>
    <string>dragonF_ace.glif</string>
    <key>dze-cy</key>
    <string>dze-cy.glif</string>
    <key>dzhe-cy</key>
    <string>dzhe-cy.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>e.ss01</key>
    <string>e.ss01.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>ef-cy</key>
    <string>ef-cy.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emquad</key>
    <string>emquad.glif</string>
    <key>emspace</key>
    <string>emspace.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>enquad</key>
    <string>enquad.glif</string>
    <key>enspace</key>
    <string>enspace.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>er-cy</key>
    <string>er-cy.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>es-cy</key>
    <string>es-cy.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>etilde</key>
    <string>etilde.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>europeanCastle</key>
    <string>europeanC_astle.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.ss01</key>
    <string>f.ss01.glif</string>
    <key>f.ss02</key>
    <string>f.ss02.glif</string>
    <key>f_b.liga</key>
    <string>f_b.liga.glif</string>
    <key>f_f.liga</key>
    <string>f_f.liga.glif</string>
    <key>f_f_i.liga</key>
    <string>f_f_i.liga.glif</string>
    <key>f_h.liga</key>
    <string>f_h.liga.glif</string>
    <key>f_i.liga</key>
    <string>f_i.liga.glif</string>
    <key>f_i.liga.ss01</key>
    <string>f_i.liga.ss01.glif</string>
    <key>f_k.liga</key>
    <string>f_k.liga.glif</string>
    <key>f_l.liga</key>
    <string>f_l.liga.glif</string>
    <key>f_t.liga</key>
    <string>f_t.liga.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.ss01</key>
    <string>g.ss01.glif</string>
    <key>g.ss02</key>
    <string>g.ss02.glif</string>
    <key>g.ss03</key>
    <string>g.ss03.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>geupturn-cy</key>
    <string>geupturn-cy.glif</string>
    <key>gje-cy</key>
    <string>gje-cy.glif</string>
    <key>gmacron</key>
    <string>gmacron.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>grave.case</key>
    <string>grave.case.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>ha-cy</key>
    <string>ha-cy.glif</string>
    <key>hand</key>
    <string>hand.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i-cy</key>
    <string>i-cy.glif</string>
    <key>i.ss01</key>
    <string>i.ss01.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idotaccent</key>
    <string>idotaccent.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ie-cy</key>
    <string>ie-cy.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>iishort-cy</key>
    <string>iishort-cy.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>io-cy</key>
    <string>io-cy.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.ss01</key>
    <string>j.ss01.glif</string>
    <key>jacute</key>
    <string>jacute.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>je-cy</key>
    <string>je-cy.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.ss01</key>
    <string>k.ss01.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>kje-cy</key>
    <string>kje-cy.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>lcommaaccent.loclMAH</key>
    <string>lcommaaccent.loclM_A_H_.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.ss01</key>
    <string>m.ss01.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macron.case</key>
    <string>macron.case.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>magic</key>
    <string>magic.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>multiply.ss01</key>
    <string>multiply.ss01.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>ncommaaccent.loclMAH</key>
    <string>ncommaaccent.loclM_A_H_.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>nonbreakinghyphen</key>
    <string>nonbreakinghyphen.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o-cy</key>
    <string>o-cy.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>pe-cy</key>
    <string>pe-cy.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>period.ss01</key>
    <string>period.ss01.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.ss01</key>
    <string>periodcentered.ss01.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plus.ss01</key>
    <string>plus.ss01.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.ss01</key>
    <string>q.ss01.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.ss01</key>
    <string>question.ss01.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>questiondown.ss01</key>
    <string>questiondown.ss01.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteleft.ss01</key>
    <string>quoteleft.ss01.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quoteright.ss01</key>
    <string>quoteright.ss01.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>quotesingle.ss01</key>
    <string>quotesingle.ss01.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.ss01</key>
    <string>r.ss01.glif</string>
    <key>r_a.liga</key>
    <string>r_a.liga.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ring.case</key>
    <string>ring.case.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>rose</key>
    <string>rose.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>saltillo</key>
    <string>saltillo.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>shcha-cy.ss01</key>
    <string>shcha-cy.ss01.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.ss01</key>
    <string>sterling.ss01.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.ss01</key>
    <string>t.ss01.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>te-cy</key>
    <string>te-cy.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.ss01</key>
    <string>three.ss01.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tilde.case</key>
    <string>tilde.case.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>tse-cy.ss01</key>
    <string>tse-cy.ss01.glif</string>
    <key>tshe-cy</key>
    <string>tshe-cy.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u-cy</key>
    <string>u-cy.glif</string>
    <key>u.ss01</key>
    <string>u.ss01.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>ushort-cy</key>
    <string>ushort-cy.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.ss01</key>
    <string>w.ss01.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>wiltedFlower</key>
    <string>wiltedF_lower.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.ss01</key>
    <string>y.ss01.glif</string>
    <key>y.ss02</key>
    <string>y.ss02.glif</string>
    <key>ya-cy</key>
    <string>ya-cy.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>yi-cy</key>
    <string>yi-cy.glif</string>
    <key>ytilde</key>
    <string>ytilde.glif</string>
    <key>yu-cy</key>
    <string>yu-cy.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
  </dict>
</plist>
